@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700;900&display=swap');
/* ייבוא משקלי גופן רלוונטיים (כגון 700 ו-900) */